body
{
	font-family: 'Argo', serif;
	background: #002236 url(../kegerface/images/background_.jpg) ;

}

a {
	text-decoration: none;
	border: none;
}


h1
{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size:300%;
	font-weight: normal;
	color:#FFF


}

ol
{
	margin:0;
	padding: 0 1.5em;
}

table
{
	color:#FFF;
/*	background:#2483A6;
*/
	border-collapse:collapse;
	width:900px;
/*	border:5px solid #C1DAD7;*/
}

thead
{

}

thead th
{
	padding:1em 1em .5em;
 	border-bottom:1px dotted #FFF;
 	font-size:120%;
 	text-align:left;
}



thead tr
{

}

td
{
/*	font-family: 'Argo', serif;*/
	padding:.5em 1em;
}

h2
{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size:150%;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	color:#FFF

}

h3
{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size:100%;
	font-family: 'Walter Turncoat', cursive;
	font-weight: normal;
	color:#D2691E;

}

tbody tr.odd td
{
	background:transparent url(tr_bg.png) repeat top left;
}

tfoot
{

}

tfoot td
{

	padding-bottom:1.5em;
}

tfoot tr
{

}


* html tr.odd td
{
	background:#C00;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='tr_bg.png', sizingMethod='scale');
}


img.aligncenter {
	margin: 0px auto;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
 }
 
 
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }


